<header>
  <h1>Mixed Perf Demo</h1>
  <h3>React leaf nodes rendered in an Angular View</h3>
  <h4 *ngIf="projectAsAngular">Number as Angular projection</h4>
  <h4 *ngIf="!projectAsAngular">Number as React attribute</h4>
  <button (click)="toggle()">Toggle Projection</button>
</header>
<app-triangle>
    <ng-template let-text="text" let-dot="dot">
      <app-react-dot
        [size]="dot.size"
        [x]="dot.x"
        [y]="dot.y"
        [color]="dot.color"
        [textOverride]="dot.textOverride"
        [backgroundColor]="dot.backgroundColor"
        (onMouseEnter)="dot.hover = true"
        (onMouseLeave)="dot.hover = false"
        [text]="projectAsAngular ? '' : text"
      >
        {{ projectAsAngular ? dot.textOverride ? dot.textOverride : text : '' }}
      </app-react-dot>
    </ng-template>
</app-triangle>
