/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/styles/variables.scss';

html, body {
  height: 100%;
  margin: 0;
}

html {
  background-color: $oil;
}

body {
  background-color: $snow;
}
