:host {
  display: block;

  fabric-button {
    margin-right: 20px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      span.button-height {
        line-height: 30px;
      }
    }
  }
}
