:host {
  display: block;
  position: relative;

  .container {
    position: absolute;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    font-size: 20px;
  }
}
