<div>
  <h1>Angular-React Demo</h1>
  <h2>Getting up and running...</h2>

  <ol>
    <li>Add
      <i>AngularReactBrowserModule</i>> to
      <i>app.module.ts</i> in place of the default
      <i>BrowserModule</i>.</li>
    <li>Add
      <i>Fab[component]Module</i> or
      <i>Mat[component]Module</i> to
      <i>app.module.ts</i> imports.</li>
    <li>Add Fabric or Material components to your views.</li>
  </ol>
</div>

<div>
  <fab-command-bar>
    <items>
      <fab-command-bar-item key="run" text="Run" [iconProps]="{ iconName: 'CaretRight' }" [disabled]="runDisabled"></fab-command-bar-item>
      <fab-command-bar-item key="new" text="New" [iconProps]="{ iconName: 'Add' }" (onClick)="onNewClicked()"></fab-command-bar-item>
      <fab-command-bar-item key="save" text="Save" [iconProps]="{ iconName: 'Save' }" [subMenuProps]="saveSubMenuProps"></fab-command-bar-item>
      <fab-command-bar-item key="copy" text="Copy" [iconProps]="{ iconName: 'Copy' }" (onClick)="onCopyClicked()"></fab-command-bar-item>
    </items>

    <far-items>
      <fab-command-bar-item key="help" text="Help" [iconProps]="{ iconName: 'Help' }"></fab-command-bar-item>
      <fab-command-bar-item key="full-screen" [iconOnly]="true" [iconProps]="{ iconName: fullScreenIcon }" (onClick)="toggleFullScreen()"></fab-command-bar-item>
    </far-items>
  </fab-command-bar>

  <fab-default-button (onClick)="toggleRun()" text="Toggle run"></fab-default-button>

  <fab-panel [isOpen]="isPanelOpen" (onDismiss)="isPanelOpen = false">
  </fab-panel>
</div>
