div {
  margin-bottom: 20px;
}

.ms-modalExample-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.ms-modalExample-header {
  flex: 1 1 auto;
  background: #0078d4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 100;
  font-weight: 600;
  padding: 0 28px;
  min-height: 40px;
}

.ms-modalExample-body {
  flex: 4 4 auto;
  padding: 5px 28px;
  overflow-y: auto;
}
