<div>
  <h1>Angular-React Demo</h1>
  <h2>Getting up and running...</h2>

  <ol>
    <li>Add <i>AngularReactBrowserModule</i> to <i>app.module.ts</i> in place of the default <i>BrowserModule</i>.</li>
    <li>Add <i>Fab[component]Module</i> or <i>Mat[component]Module</i> to <i>app.module.ts</i> imports.</li>
    <li>Add Fabric or Material components to your views.</li>
  </ol>
</div>

<fab-rating [renderStar]="onRenderStar">
  <ng-template #onRenderStar let-fillPercentage="fillPercentage" let-starNum="starNum">
    <div>test {{fillPercentage}} {{starNum}}</div>
  </ng-template>
</fab-rating>

<div style="width: 500px;">
  <fab-pivot overflowBehavior="menu">
    <fab-pivot-item *ngFor="let tab of tabs" [renderItemLink]="tabLabel">
        <ng-template #tabLabel>
            <span>{{tab.label}}</span>
        </ng-template>
        <!-- <fab-details-list [items]="tab.items" [groups]="tab.groups" [selectionMode]="0" [columns]="columns" [enableUpdateAnimations]="false">
        </fab-details-list> -->
        <div>111</div>
    </fab-pivot-item>
  </fab-pivot>
</div>
