<h1>Angular-React Demo</h1>
<div style="height: 500vh">

  <fab-command-bar #commandBar [items]="commandBarItems" [farItems]="commandBarFarItems">
  </fab-command-bar>

  <fab-default-button (onClick)="toggleRun()" text="Toggle run"></fab-default-button>

  <fab-panel [isOpen]="isPanelOpen" (onDismiss)="isPanelOpen = false">
  </fab-panel>

  <ng-template #customRange let-item="item">
      <div>
        Data: {{ item.data | json }}
      </div>

      <div>
        <span>From: </span>
        <input type="date" />
      </div>

      <div>
        <span>To: </span>
        <input type="date" />
      </div>

      <fab-default-button text="Done" (onClick)="item.onClick()"></fab-default-button>
  </ng-template>
</div>
