:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  app-triangle {
    flex-grow: 1;
  }

  .message {
    width: 200px;
    margin-left: -100px;
    text-align: center;
    margin-top: 10px;
  }
}
