@import '../../styles/variables.scss';

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // box-sizing: border-box;
  border-top: $rubberbandScrollBuffer solid $oil;
  margin-top: 0 - $rubberbandScrollBuffer;

  nav.primary {
    background-color: $oil;
    color: $snow;

    .mat-button {
      line-height: $navPrimaryHeight;
    }

    /deep/ .mat-tab-links {
      display: flex;

      .mat-ink-bar {
        background-color: $smoke;
      }

      .mat-tab-link {
        color: $snow;

        &.mat-tab-label-active {
          opacity: 1;
        }
      }
    }
  }

  nav.secondary {
    background: $smoke;

    /deep/ .mat-tab-links {
      display: flex;

      .mat-ink-bar {
        background-color: $oil;
      }

      .mat-tab-link {
        height: $navSecondaryHeight;
        transition: height 500ms;
        display: flex;
        flex-direction: column;
        transition: height 500ms;

        &.mat-tab-label-active {
          opacity: 1;
        }

        mat-icon {
          font-size: $navSecondaryHeight - 24;
          height: $navSecondaryHeight - 24;
          width: $navSecondaryHeight - 24;
          opacity: 1;
          transition: 500ms;

          svg {
            transition: 500ms;
            margin: $navSecondaryHeight / 6;
          }

          &.stack {
            position: relative;

            svg {
              position: absolute;
              top: 50%;
              left: 50%;

              &:first-child {
                margin: -30%;
                height: 50%;
              }

              &:last-child {
                margin: 10%;
                height: 30%;
              }
            }
          }
        }
      }
    }

    &.collapse {

      .mat-tab-link {
        height: $navSecondaryHeightCollapsed;

        mat-icon {
          font-size: 1px;
          height: 1px;
          width: 1px;
          opacity: 0;

          svg {
            margin: 0;
          }

          &.stack {

            svg {

              &:first-child {
                margin: -30%;
                height: 70%;
              }

              &:last-child {
                margin: 18%;
                height: 55%;
              }
            }
          }
        }
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
