@import '../../styles/variables.scss';

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  mat-toolbar.primary {
    height: $navPrimaryHeight * 4;
    margin-top: 0 - $navPrimaryHeight * 3;
    padding-top: $navPrimaryHeight * 3;
    background: rgba(30, 30, 30, 0.94);
    color: #fff;
  }

  mat-toolbar.secondary {
    height: $navSecondaryHeight;
    background: rgba(240, 240, 240, 0.94);
    transition: height 500ms;

    &.collapse {
      height: $navSecondaryHeight / 3;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
