:host {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    display: flex;
    padding: 0;

    li {

      a {
        margin-right: 10px;
      }
    }
  }
}
