@import './styles/variables.scss';

:host {
  height: 100%;
  display: block;
  box-sizing: border-box;
  border-top: $navPrimaryHeight + 1 solid transparent;

  /deep/ .page {
    background: $snow;
    padding: 20px;
  }
}
